@CHARSET "UTF-8";
.center{
	text-align:center !important;
}

.loading_img{
	text-align:center;
	width:100%;
    height: 100%;
    position: absolute;
    border: 1px solid;    
    top: 0px;
    left: 0px;
    text-align: center;
    padding-top: 10%;
    background-color: #030303;
    z-index: 999;
    opacity: 0.5;
}

#content-header h1, #content-header .right-div {
    margin-top: 20px;
}
#content-header .right-div {
    float: right;
    right: 20px;
    position: absolute;
}
#content-header .right-div input {
    margin: 1px;
    margin-right: -8px;
}
#content-header .right-div dd {
    float:left;
    line-height:32px;
}
#content-header .right-div .Validform_checktip{
	line-height:32px;
}
#content-header .right-div .quickInput{
	margin-top: 20px;
}

.category-btn-list{
	margin-top:20px;
	margin-bottom: -32px;
}
.jpg-404{
	text-align:center;
}
.jpg-404 img{
	height: 600px;
}