<!-- <script src="js/excanvas.min.js"></script> -->
<script src="js/jquery.min.js"></script>
<script src="js/jquery.ui.custom.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.flot.min.js"></script>
<script src="js/jquery.flot.resize.min.js"></script>
<script src="js/jquery.peity.min.js"></script>
<script src="js/fullcalendar.min.js"></script>
<script src="js/unicorn.js"></script>
<!-- <script src="js/unicorn.dashboard.js"></script>
<script src="js/unicorn.tables.js"></script>> -->
<script src="../assets/js/sweetalert.min.js"></script>
<script src="../assets/js/remodal.min.js"></script>