<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="css/fullcalendar.css" />	
<link rel="stylesheet" href="css/unicorn.main.css" />
<link rel="stylesheet" href="css/unicorn.grey.css" class="skin-color" />
<link rel="stylesheet" href="css/uniform.css" />
<link rel="stylesheet" href="css/select2.css" />
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="../assets/css/sweetalert.css" />
<link rel="stylesheet" href="../assets/css/remodal.css">
<link rel="stylesheet" href="../assets/css/remodal-default-theme.css">
